<template>
    <div class="flex justify-between py-6">
        <div class="text-gray-500 w-4/12 font-medium">
            <p class="">System visual</p>
        </div>
        <div class="w-6/12">
            <p class="text-black">{{ status }}</p>
        </div>
        <div class="flex w-2/12 justify-end">
            <a class="text-indigo-600 font-medium" id="darkModeSwitch" @click="toggleDarkMode()">Dark mode</a>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                status: 'Light mode'
            }
        },
        beforeMount() {
            this.checkDarkModeLocalStorage();
        },
        methods: {
            toggleDarkMode: function() {
                let root = document.getElementsByTagName( 'html' )[0];
                if(root.classList.contains('dark')) {
                    root.classList.remove('dark');
                    status = 'Light mode'
                } else {
                    root.classList.add('dark');
                    status = 'Dark mode'
                }
            },
            checkDarkModeLocalStorage: function() {
                document.getElementById('darkModeSwitch').addEventListener('click', function() {
                    let htmlClasses = document.querySelector('html').classList;
                    if (localStorage.theme === 'dark') {
                        htmlClasses.remove('dark');
                        localStorage.removeItem('theme');
                    } else {
                        htmlClasses.add('dark');
                        localStorage.theme = 'dark';
                    }
                });

            }
        }
    };
</script>
